.blog-title-background{
    background-image: url("/images/title.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.blog-title{
    opacity: 50%;
}

section.view {
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.view-box {
    background: #fff;
    min-height: 600px;
    border-radius: 5px;
}

.view-head {
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 600;
}

.view-head i {
    margin-right: 15px;
}

.contents-box {
    display: flex;
    font-size: 14px;
    padding: 10px 30px 50px;
}

.contents-box div {
    padding-right: 40px;
    position: relative;
}

.contents-box div::after {
    content: "";
    display: block;
    background: #999;
    width: 1px;
    height: 8px;
    top: 5px;
    right: 20px;
    position: absolute;
}

.contents-box div i {
    margin-right: 15px;
}

.view-box .contents {
    padding: 0 30px 50px;
}

.view .view-foot {
    position: absolute;
    width: 100%;
    padding: 40px;
    text-align: right;
    bottom: 0;
}